.otro_valorr{

    height:400px;
    width: 550px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    }

    .imagen_inicio{
        height: 100px;
        width: 80px;
    }
    
    #id_img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    #info_principal{
        margin-top: 36px;
        
        display: flex;
        
    }
    
    .contenedor {
        width: 350px; 
        margin: 20px auto;
        display:block;
        justify-content: center;
    }
    
    .input-recuadro {
        width: 100%;
        padding: 10px;  
        border: 2px thin black ;
        border-radius: 5px;
        font-size: 23px; 
        text-align: center;
    }

    .caja_flex2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 550px; 
        margin-top: 50px;
    }

   .cajasGod{
    
    width: 250px;
    height: 50px;
   }

    #id_boton1 input[type="submit"]{
        
        display:flex;
        justify-content:flex-start;
        background-color: #4d453c;
        width: 70%;
        margin: 0 auto;
        color:white;
        border-bottom-left-radius: 16px;
        height: 35px;
    }

    #id_boton2 input[type="submit"]{
        
        display:flex;
        justify-content:flex-end;
        background-color: #1e0897;
        width: 70%;
        margin: 0 auto;
        color:white;
        border-top-right-radius: 16px;
        height: 35px;
    }